{
  "env": {
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  rules: {
    "mocha/no-exclusive-tests": "error",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
